.background {
    background: linear-gradient(150deg, #64314d, #110512);
	width:100vw;
	height:100vh;
	overflow:hidden;
}

.main-section {
	height:90%;
	padding-left:50px;
	margin-top:20px;
	border-radius:20px;
	overflow:hidden;
}
.background > h1 {
	font-size:60px;
	margin-left:50px;
	margin-top: 40px;
}
.search-bar{
	border-radius:4px;
	border:none;
	width:400px;
	right:-40px;
	position:relative;
	height:30px;
	background-color:#ffffffcf;
	left:0;
	margin-top:20px;
}
.header > h1 {
	font-size:30px;
}
.search-bar > input {
        background-color:#0000;
        border:none;
        width:90%;
        outline-width:1px;
}

.search-bar > input:focus-visible {
	outline:none;
}
.search-bar > i {
        margin-left:10px;
        margin-right:5px;
}
.song-card {
	background-color:#202020cc;
	width:250px;
	height:350px;
	border-radius:9px;
	border: none;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-right: 10px;
	margin-bottom: 10px;
	flex-direction: column;
}

.song-card > div {
	width:90%;
	height:93%;
	border:#64316d 3px solid;
	border-radius:9px;
}
.song-card > div > img {
	width:80%;
	margin:auto;
	display:block;
	margin-top:10%;
}
.song-list {
	margin-top:30px;
	height: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow:scroll;
}

.discover-nav-bar {
	padding-top:15px;
	display:flex;
	flex-direction:row;
	color:white;
	position:relative;
	vertical-align:center;
	align-items:center;
	gap:20px;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	float:right;
	padding-right:60px;
}
.discover-nav-bar > button { 
	all: unset;
	vertical-align:middle;
	margin-left:20px;
	cursor: pointer;
}
.discover-nav-bar > button > h2 {
	vertical-align:middle;
	display:inline;
	font-size:20px;
}
.nav-logo {
	width:50px;
	margin-left:20px;
	position:relative;
}
