.second-section{
	width:10vw;
	display:flex;
	flex-direction:column;
}
.fourth-section {
}
.second-section > .top-subsection {
	height:100%;
}
.bottom-subsection {
	height:100%;
}
.side-dashboard{
	height:100vh;
	overflow:hidden;
	width: 18%;
	background-color:#100c10;

		  box-shadow: 0 0px 8px rgba(0,0,0,0.6), 
		      0 0px 16px rgba(0,0,0,0.12);
	text-align:center;
}
.play{
	cursor:pointer;
}
.now-playing{
	margin-top:50px;
	color:white;
}
.now-playing > h1 {
	font-size:32px;
	margin-bottom:45px;
}

.now-playing > h2 {
	margin-top:20px;
	font-family:Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	font-size:36px;
	font-style:italic;
}
.now-playing > h3 {
	font-family:Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	color:white;
	font-size:24px;
}
.progress-bar{
	cursor:pointer;
	width:80%;
	height:5px;
	margin:auto;
	background-color:gray;
	border-radius:5px;
	margin-top:30px;
	overflow:hidden;
}
.audio-control{
	color:white;
	display:flex;
	width:70%;
	height:50px;
	margin:auto;
	justify-content:center;
	margin-bottom:25px;
}
.audio-control > div{
	font-size:50px;
	display:flex;
	align-items:center;
}

.current-track{
	width:80%;
	margin-top:30px;
	position:relative;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	margin:auto;
	margin-top:20px;
	aspect-ratio:1;
}
.current-track > img {
	aspect-ratio:1;
}
.album-art > img { 
	position:absolute;
	z-index:1;
}


.first-section {
}
.section  h1 {
	margin-top:10px;
	width:100%;
	text-align:center;
}
.section {
	width:15vw;
}
.background {
	background-color:#100c10;
	display:flex;
	flex-direction:row;
	height:100%;
	overflow:hidden;
}
.discover {
	display: flex;
	flex-direction: row;
	height:100vh; 
	flex-grow:0;
	column-gap:1vw;
	overflow:hidden;
	padding-right:1vw;
	padding-left:2vw;
}
.section:nth-child(even){
	padding-top:20px;
}
.fifth-section{
	padding-top:20px;
}
.right-tab h1 {
	font-size:24px;
}
.right-tab > h1 {
	font-size:64px;
	color:white;
	margin-left:30px;
	margin-top:30px;
}
.right-tab {
	width: 82%;
	height:100vh;
	background: linear-gradient(40deg, #110512 -4%, #64314d, #110512 95%);
	border-top-left-radius:1vw;
	border-bottom-left-radius:1vw;
}
.audio-waves {
	overflow-y:scroll;
	padding-left:10px;
	padding-right:10px;
	height:250px;
}
.audio-waves div {
}
input[type=range] {
  height: 25px;
  width: 40%;
  background:rgba(0,0,0,0);
  margin-left:30%;
  transform:translateY(5px);
  accent-color:#94316d;
}

.nav-logo {
	width:50px;
	margin-left:20px;
	position:relative;
}

.searchBar {
	background-color: white;
	position:absolute;
	right:30px;
	margin-left: 30px;
	margin-top:-30px;
	width: 350px;
	border-radius: 4px;
	padding: 4px;
}
.searchBar > i {
	margin-left:10px;
	margin-right:5px;
	position:absolute;
}

.searchBar > input {
	border: none;
	width: 225px;
	margin-left:30px;
}
.searchBar > input:focus-visible {
	outline:none;
}
.searchError {
	color: white;
}

.song-card {
	background-color:#252325;
	width:250px;
	height:350px;
	border-radius:9px;
	border: none;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-right: 10px;
	margin-bottom: 10px;
	flex-direction: column;
	font-family:Figtree;
	cursor:pointer;
}

.song-card > div {
	background-color:#202020;
	width:90%;
	height:93%;
	border-radius:9px;
}
.song-card > div > img {
	width:80%;
	aspect-ratio:1;
	margin:auto;
	display:block;
	margin-top:10%;
}
.song-card > div > h2 {
	margin: auto;
	text-align: center;
	margin: 5px;
}
