
.discover-nav-bar {
	padding-top:15px;
	display:flex;
	flex-direction:row;
	color:white;
	position:relative;
	vertical-align:center;
	align-items:center;
	gap:20px;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	float:right;
	padding-right:60px;
}
.discover-nav-bar > button { 
	all: unset;
	vertical-align:middle;
	margin-left:20px;
	cursor: pointer;
}
.discover-nav-bar > button > h2 {
	vertical-align:middle;
	display:inline;
	font-size:20px;
}
.nav-logo {
	width:50px;
	margin-left:20px;
	position:relative;
}