:root {
  --no-of-slides: 6;
  --slides-in-view: 4;
  --slide-width: 200px;
  --slide-height: 200px;
  --iteration-time: 10s;
}
.slider {
	position: relative;
	width: 30vw;
	height: 100vh;
	overflow: hidden;
	margin-right:3vw;
}

.scroll-element{
	width: inherit;
	height: inherit;
	position: absolute;
	left: 0%;
	top: 0%;
	display:flex;
	flex-direction:column;
}
.scroll-element > div {
	height:30vw;
	aspect-ratio:1;
	margin-bottom:3vw;
}

