:root {
  --no-of-slides: 6;
  --slides-in-view: 4;
  --slide-height: 200px;
  --iteration-time: 10s;
}
.slider {
	position: relative;
	height:100%;
	overflow: hidden;
}
.slider:hover > .scroll-element{
	animation-play-state:paused;
}
.scroll-element{
	width: inherit;
	transition:animation-duration;
	height: inherit;
	position: absolute;
	left: 0%;
	top: 0%;
	display:flex;
	flex-direction:column;
}
.album-cover-wrapper .hover-overlay{
	width:100%;
	aspect-ratio:1;
	position:absolute;
	transition:opacity .5s ease-out;
	content:'';
	background-color:#000000;
	opacity:0;
}
.album-cover-wrapper:hover .hover-overlay {
	opacity:0.5;
}
.album-cover-wrapper{
	cursor:pointer;
}
.hover-overlay{
	display:flex;
	align-items:center;
	justify-content:center;

}
.hover-overlay > i {
	color:white;
	font-size:80px;
	width:50px;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
}

.scroll-element {

}

.scroll-element > .album-cover-wrapper {
	aspect-ratio:1;
	margin-bottom:3vw;
}

