:root {
  --no-of-slides: 6;
  --slides-in-view: 4;
  --slide-width: 200px;
  --slide-height: 200px;
  --iteration-time: 10s;
}
.slider {
	position: relative;
	width: 20rem;
	height: 100vh;
	overflow-y: hidden;
}

.scroll-element{
	width: inherit;
	height: inherit;
	position: absolute;
	left: 0%;
	top: 0%;
}
.up-primary {
	animation: scroll var(--iteration-time) linear infinite;
}

.down-primary {
	animation: scroll var(--iteration-time) linear infinite reverse;
}
.up-secondary {
	animation: scroll-secondary var(--iteration-time) linear infinite;
}

.down-secondary {
	animation: scroll-secondary var(--iteration-time) linear infinite reverse;
}


.slider:hover .up {
	animation-play-state: paused;
}
.slider:hover .down {
	animation-play-state: paused;
}
@keyframes scroll {
	0% { top:0%; }
	100% { top:-100%;}
}
@keyframes scroll-secondary {
	0% { top:100%; }
	100% { top:0%;}
}
