.background {
	background-color:#000000;
	width:100%;
	height:100%;
	position:absolute;
	overflow:auto;
}


.page-container{
	/* position:relative; */
	/* position: absolute; */
 	display: grid;
	grid-template-columns: 500px 1fr;
	grid-template-rows: 2fr 1fr;
	height:100%;
	grid-template-areas:
		"details	."
		"stack	toolbox";
	padding-bottom:20px;
	padding-left:20px;
}

.detail-editor{
	z-index: 2;
	background-color:#20202088;
	grid-area:"details";
	border-radius:8px;
	border: #935FA718 solid 2px;
	margin-top:60px;
	color:white;
}
.image-upload{
	aspect-ratio:1;
	width:50%;
	margin-left:25px;
	background-color:#20202066;

	border-radius:5px;
}
.image-upload > input {
	display:none;
	visibility:hidden;
}
.search-bar > input:focus-visible {
	outline:none;
}
.detail-editor > h1{
	margin-left:30px;
	margin-top:20px;
	margin-bottom:20px;
	color:rgba(255,255,255,0.9);
}
.detail-editor p {
	font-family:var(--bs-body-font-family);
	margin-left:30px;
}
.detail-editor .search-bar {
	margin-top:-10px;
	left:10px;
	background-color:rgba(0,0,0,0);
	border-bottom:2px solid #932FA7;
	padding-left:5px;
	width:80%;
}
.detail-editor .description {
	background-color: rgba(50,50,50,.2);
	border: 1px solid #932FA7;
	border-radius:5px;
	width:90%;
	margin:auto;
	white-space:wrap;
	margin-top:20px;
	height:130px;
}
.detail-editor-flexc{
	display:flex;
}
.detail-editor textarea {
	resize:none;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0);
	border:none;
	color:pink;
	padding:8px;
}
.detail-editor textarea:focus-visible {
	outline:none;
}
.detail-editor .search-bar > input {
	color:pink;
	opacity:1;
}
.detail-editor .search-bar > input:focus-visible {
	outline:none;
}
.publish-button {
	margin-left:20px;
	width:90%;
	height:40px;
	color:pink;
	border:2px solid purple;
	background-color:#932fa7;
	outline:none;
	border-radius:5px;
}
.publish-button:hover {
	background-color:#9f2faf;
}
.publish-button:active {
	background-color:#922ea6;
}

.editor-section {
	flex-grow:1;
	z-index: 2;
	background-color:#20202088;
	border: #935FA728 solid 2px;
	margin-top: 60px;
	margin-left: 10px;
	border-radius: 8px;
	height: 500px;
	margin-right:20px;
}


.stack-view-container{
	z-index: 2;
	grid-area:"stack";
	justify-content:center;
	align-items:center;
	margin-top:10px;
}
.stack-view{
	background-color:#20202088;
	height:100%;
	border-radius:8px;
	border: #935FA728 solid 2px;
	display: flex;
	flex-direction: column;
	position: relative;
}
.stack {
	display: flex;
	flex-direction: column-reverse;
	position: absolute;
	bottom: 10px;
	width: 100%;
}

.layerCard {
	all: unset;
	margin: auto;
	margin-top: 5px;
	height: 20%;
	width: 90%;
	border-radius: 5px;
	border: 1px solid #932FA7;
	display: flex;
	flex-direction: row;
}

.stackText {
	text-align: center;
	color: white;
	margin: 10px;
	font-size: 20px;
}

.layer-finder-container{
	align-items:center;
	z-index: 2;
	justify-content:center;
	display:flex;
	margin-left:20px;
	grid-area:"toolbox";
}
.layer-finder{
	border: #935FA718 solid 2px;
	background-color:#20202088;
	height:calc(100% - 10px);
	margin-top:10px;
	width:100%;
	border-radius:8px;
	margin-right:20px;
}
.layer-finder > .header {
	width:100%;
	padding-top:10px;
	height:25%;
	padding-left:40px;
	display:flex;
	align-items:center;
}
.layer-finder > .header > .searchbar-container{
	margin-left:60px;
	margin-top:20px;
	margin-bottom:10px;
	width:100%;
}

.search-results{
	overflow-x:scroll;
	flex-direction:row;
	display:flex;
	width:90%;
	margin-left: 40px;
	height:70%;
	position:relative;
}

.search-results > h1{
	color:#ccc;
	font-size:32px;
	margin-left:50px;
	margin-top:5px;
	white-space:nowrap;
}

.search-bar{
	border-radius:4px;
	border:none;
	width:60%;
	right:-40px;
	position:relative;
	height:30px;
	background-color:#ffffffcf;
}
.search-bar > input {
	background-color:#0000;
	border:none;
	width:90%;
	outline-width:1px;
}
.search-bar > i {
	margin-left:10px;
	margin-right:5px;
}

.song-card{
	background-color:#30303088;
	aspect-ratio:1;
	height:170px;
	display:flex;
	justify-content:center;
	color:white;
	border-radius:10px;
	margin-right:20px;
}
.album-cover-container .hover-overlay{
	width:100%;
	height: 100%;
	aspect-ratio:1;
	position:absolute;
	transition:opacity .5s ease-out;
	content:'';
	background-color:#000000;
	opacity:0;
}
.album-cover-container:hover .hover-overlay {
	opacity:0.8;
}
.album-cover-container{
	cursor:pointer;
	overflow: hidden;
}
.hover-overlay{
	all: unset;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;

}
.hover-overlay > i {
	color:white;
	font-size:80px;
	width:50px;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
}
.hover-overlay > p {
	font-size: 20px;
	text-align:center;
}
.album-cover {
	height:100%;
	aspect-ratio:1;
}
.album-cover-container {
	height:100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	border-radius: 5px;
}
.album-cover-container > p {
	text-align: center;
	margin-top: 5px;
}
.track-length{
	color:white;
	position:absolute;
	right:0px;
}
.glow {
        position:absolute;
        z-index:1;
        width:300px;
        height:600px;
}
.glow2 {
        border-radius:30% 70% 38% 62% / 34% 30% 70% 66%;
        background-image:linear-gradient(45deg,#3023AE 0%,#FF0099 100%);
        transform:translate(10vw, 15vw) rotate(68deg);
}
.glow1 {
        border-radius:22% 78% 19% 81% / 76% 29% 71% 24%;

        background-image:linear-gradient(45deg,#3023AE 0%,#FF0099 100%);
        width:500px;
        height:300px;
        transform:translate(50vw, 35vw);
}
.glow4 {
        border-radius:22% 78% 19% 81% / 76% 29% 71% 24%;

        background-image:linear-gradient(45deg,#3023AE 0%,#FF00F9 100%);
        width:300px;
        height:270px;
        transform:translate(0vw, 35vw);
}
.glow5 {
        border-radius:22% 78% 19% 81% / 76% 29% 71% 24%;

        background-image:linear-gradient(45deg,#3023AE 0%,#FF00F9 100%);
        width:300px;
        height:470px;
        transform:translate(0vw, 0vw);
}
.diffuser {
        pointer-events:none;
        filter: blur(200px);
        width:100%;
        position:absolute;
        height:100%;
        overflow:auto;
	z-index:1;
}
.cylinder {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100px;
	height:200px;
	display:flex;
	flex-direction:column;
	border-radius: 50px/25px;
	background-color: rgba(160, 160, 160, .55);
}

.cylinder:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 50px;
	border-radius: 50px/25px;
	background-color: inherit;
	content: '';
}
.cylinder > .not-top {
	margin-top:-30px;
}

h2{
	color:white;
}

.cylinder:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100px;
	height: 50px;
	border-radius: 50px/25px;
	content: '';
	background-color:inherit;
}
.audio-waves {
	
	overflow:scroll;
	padding-left:25px;
	padding-right:25px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.audio-control{
	color:white;
	display:flex;
	width:70%;
	height:50px;
	margin-top: 0px;
	justify-content:center;
	margin-bottom:25px;
	margin: auto;
}
.audio-control > div{
	font-size: 50px;
	display:flex;
	align-items:center;
}

.threeDots {
	all: unset;
	color: white;
	font-size: 20px;
	text-align: right;
	margin-right: 5px;
	margin-left: auto;
	
}
